
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre&family=Raleway&display=swap');
@import '~leaflet/dist/leaflet.css';

* {
  margin: 0px;
  box-sizing: border-box;
}

.App {
  font-family: 'Averia Sans Libre', sans-serif;
  background-color: #e6e6e6;
  min-height: 100vh;
  display: flex;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: black;
}

.app-title {
  background-color: darkgreen;
  color: white;
  font-size: 32px;
  padding: 2px 4px 6px 6px;
  
}

#left-side {
  display: flex;
  flex-direction: column;
}

#rail {
  border: solid gray 2px;
  min-width: 15vw;
  max-width: 25vw;
}

.user-location {
  font-family: 'Raleway', sans-serif;
}

#feature-editor {
  padding: 3px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  height: 100%;
  margin-top: 10px;
}

.editor-title {
  font-size: 16px;
}

.map {
  width: 100vw;
  height: 100vh;
}