@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Love+Ya+Like+A+Sister&display=swap');

@import '~leaflet/dist/leaflet.css';
@import 'flatpickr/dist/flatpickr.min.css';

* {
  margin: 0px;
  box-sizing: border-box;
}

.App {
  font-family: 'Inter', sans-serif;
  background-color: #e6e6e6;
  min-height: 100vh;
  display: flex;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: black;
}

.app-title {
  font-family: 'Love Ya Like A Sister', cursive;
  background-color: #69835f;
  color: #add19e;
  font-size: 1.75em;
  padding: 2px 4px 6px 6px;
}

#left-side {
  display: flex;
  flex-direction: column;
}

#rail {
  border: solid gray 2px;
  min-width: 25vw;
  max-width: 25vw;
}

.user-location {
  font-size: 14px;
  text-align: center;
  background-color: #adacac;
  padding: 3px;
}

.user-weather{
  font-size: 14px;
  text-align: left;
  background-color: white;
  padding: 3px;
}

#event-editor {
  background-color: #f2efe9;
  padding: 3px;
  font-size: 20px;
  height: 100%;
  margin-top: 10px;
}

#date-picker {
  margin: 8px;
}

.editor-title {
  font-size: 16px;
}

.event-stat-box {
  border: 1px solid black;
  font-size: 14px;
  margin: 0px 0px 8px 0px;
  display: flex;
  font-weight: bold;
}

.event-stat {
  margin: 4px;
  padding: 4px;
}

.editor-field-title {
  color: #add19e;
  background-color: #69835f;
  font-weight: bold;
  padding: 3px;
  margin-top: 8px;
  font-size: 16px;
}

.event-date {
  font-size: 14px;
  margin: 4px;
}

.map {
  width: 100vw;
  height: 100vh;
}